<footer class="footer">
    <div class="row">
        <div class="col-1-of-3">
            <div class="footer_logo-box">
                <img src="{{asset "img/logo-white.png"}}" alt="Logo" class="footer_logo">
            </div>
            <p class="footer_helping u-margin-bottom-small">
                Helping established creative + tech agencies transform.<br />
            </p>
            <p class="footer_expertise">
                Expertise: Agency Growth Consulting, Creative Agency Scaling, Technology Consulting, Nonprofit Consulting, SEO Consultant NY, Nonprofit Consultant NY, Nonprofit Website Design, Fundraising Consultant, Website Development Consultant, Digital Marketing Consultant, Email Marketing Consultant, Technology Consultant, Business Strategy & Business Development
            </p>
        </div>
        <div class="col-1-of-3">
            {{#get "posts" limit="3" as |recent|}}
                <div class="footer_posts">
                    <h3 class="heading-secondary-white u-margin-bottom-small footer_recent_posts">Recent Posts</h3>
                    <ul class="footer_list">
                        {{#foreach recent}}
                            <li class="footer_item">
                                <a class="footer_link" href="{{url}}">{{title}}
                                </a>
                            </li>
                        {{/foreach}}
                    </ul>
                </div>
            {{/get}}
        </div>
        <div class="col-1-of-3">
            <p class="footer_copyright">
                Built by Nick Llerandi based on a design by Jonas Schmedtmann.
            </p>
        </div>
    </div>
</footer>