<header class="header">
    <!--<div class="logo-box">-->
        <!--<img src="{{asset "img/logo-white.png"}}" alt="Logo" class="logo"/>-->
    <!--</div>-->
    <div class="text-box">
        <h1 class="heading-primary">
            <span class="heading-primary-main">{{@blog.title}}</span>
            <span class="heading-primary-sub">{{@blog.description}}</span>
        </h1>
        <!--<a href="#" class="btn btn-white btn-animated">Discover services</a>-->
    </div>
</header>