<section class="section-testimonials">
    <div class="bg-video">
        <video class="bg-video_content" autoplay muted loop>
            <source src="{{asset "img/agile.mp4"}}" type="video/mp4">
            <source src="{{asset "img/agile.webm"}}" type="video/webm">
            You should update your browser!
        </video>
    </div>
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">
            Testimonials
        </h2>
    </div>
    <div class="row">
        <div class="testimonial">
            <figure class="testimonial_shape">
                <img src="{{asset "img/kevin.jpeg"}}" alt="Client" class="testimonial_img">
                <figcaption class="testimonial_caption">
                    Kevin Considine
                </figcaption>
            </figure>
            <div class="testimonial_text">
                <div class="heading-tertiary u-margin-bottom-small">
                    Kevin Considine - Software Engineer
                </div>
                <p>I worked with Nick at Liqui-Site where I was the server and operations administrator, as well as web developer. As a project manager, Nick was thoughtful and meticulous, there hasn't been a single detail he's missed, and out of all the project managers I've worked with in the past Nick is surely exceptional. Beyond the scope of project management I've watched Nick, in a year, go from dabbling in learning basic code, to creating full operational Node.JS frameworks. I've never seen an understanding of advanced JavaScript be developed in such a short period of time and I believe it's due to his diligence and persistence. It was nothing short of an absolute pleasure working with Nick.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="testimonial">
            <figure class="testimonial_shape">
                <img src="{{asset "img/kelly.jpeg"}}" alt="Client" class="testimonial_img">
                <figcaption class="testimonial_caption">
                    Kelly Campbell
                </figcaption>
            </figure>
            <div class="testimonial_text">
                <div class="heading-tertiary u-margin-bottom-small">
                    Kelly Campbell - Agency Growth Consultant
                </div>
                <p>Nick pulls from a diverse background to cultivate relationships with clients, manage digital projects across their lifecycle—and manage expectations well. His ability to oversee and drive teams using agile methodology is impressive and effective. A developer in his own right, Nick's created profitability tracking software and worked with vendors to ensure that we have the pulse on every project in real-time. He also happens to be one of the most personable, fun-loving team members I've ever had the pleasure of working alongside!</p>
            </div>
        </div>
    </div>
</section>