<section class="section-features">
    <div class="row">
        <div class="col-1-of-4">
            <div class="feature-box">
                <i class="feature-box-icon icon-basic-webpage-img-txt"></i>
                <h3 class="heading-secondary u-margin-bottom-small">Front-end Development</h3>
                <p class="feature-box-text paragraph">
                    I value simple content structure, clean design patterns, and thoughtful interactions.
                </p>
                <p class="feature-box-tools">Tools:</p>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Sass</li>
                    <li>Handlebars</li>
                    <li>React</li>
                    <li>Bootstrap</li>
                    <li>Bulma</li>
                </ul>
            </div>
        </div>
        <div class="col-1-of-4">
            <div class="feature-box">
                <i class="feature-box-icon icon-basic-server2"></i>
                <h3 class="heading-secondary u-margin-bottom-small">Back-end Development</h3>
                <p class="feature-box-text paragraph">
                    Adding function to form - kind of like a good drummer :)
                </p>
                <p class="feature-box-tools">Tools:</p>
                <ul>
                    <li>MongoDB</li>
                    <li>Express</li>
                    <li>Linux</li>
                    <li>SQL / MySQL / PostgreSQL</li>
                    <li>PHP</li>
                </ul>
            </div>
        </div>
        <div class="col-1-of-4">
            <div class="feature-box">
                <i class="feature-box-icon icon-basic-lightbulb"></i>
                <h3 class="heading-secondary u-margin-bottom-small">Data & Analytics</h3>
                <p class="feature-box-text paragraph">
                    Although the qualities that make up a great data scientist are mostly non-technical, knowing the tech side of things certainly helps.
                </p>
                <p class="feature-box-tools">Tools:</p>
                <ul>
                    <li>Python</li>
                    <li>Jupyter</li>
                    <li>R</li>
                    <li>Spark</li>
                    <li>Tableau</li>
                    <li>Probability & Statistics</li>
                </ul>
            </div>
        </div>
        <div class="col-1-of-4">
            <div class="feature-box">
                <i class="feature-box-icon icon-basic-gear"></i>
                <h3 class="heading-secondary u-margin-bottom-small">Workflow & Systems</h3>
                <p class="feature-box-text paragraph">
                    The stuff that gets overlooked...
                </p>
                <p class="feature-box-tools">Tools:</p>
                <ul>
                    <li>WebStorm</li>
                    <li>Codepen</li>
                    <li>Github</li>
                    <li>Gitlab</li>
                    <li>Terminal</li>
                    <li>DigitalOcean</li>
                </ul>
            </div>
        </div>
    </div>
</section>