<section class="section-services">
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">
            Some recent work and projects
        </h2>
    </div>
    <div class="row">
        <div class="col-1-of-3">
            <div class="card">
                <div class="card_picture card_picture--1">
                    &nbsp;
                </div>
                <h4 class="card_heading">
                    <span class="card_heading-span card_heading-span--1">
                        <a href="https://nllerandi.github.io/weather_app_cra/" target="_blank">Weather App ></a>
                    </span>
                </h4>
                <div class="card_details">
                    <p class="card_details-text">
                        A simple React app to display the weather. Uses React-Sparklines for visualizing the data, Redux for state management, and the Google Maps API for some interactivity.
                    </p>
                    <a href="https://github.com/nllerandi/weather_app_cra/tree/master" target="_blank" class="btn-text">Github &rarr;</a>
                </div>
            </div>
        </div>
        <div class="col-1-of-3">
            <div class="card">
                <div class="card_picture card_picture--2">
                    &nbsp;
                </div>
                <h4 class="card_heading">
                    <span class="card_heading-span card_heading-span--2">
                        Visual IQ Implementation
                    </span>
                </h4>
                <div class="card_details">
                    <p class="card_details-text">
                        Drove the technical integration of Visual IQ multi-touch attribution: developed marketing tag logic and implementation strategy that would be used as the foundation of Verizon’s MTA reporting.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-1-of-3">
            <div class="card">
                <div class="card_picture card_picture--3">
                    &nbsp;
                </div>
                <h4 class="card_heading">
                    <span class="card_heading-span card_heading-span--3">
                        <a href="https://nllerandi.github.io/youtube_app_cra/" target="_blank">Youtube Search App ></a>
                    </span>
                </h4>
                <div class="card_details">
                    <p class="card_details-text">
                        A fun React side project that uses the Youtube API to search and display videos.
                    </p>
                        <a href="https://github.com/nllerandi/youtube_app_cra/tree/master" target="_blank" class="btn-text btn-text-github">Github &rarr;</a>
                </div>
            </div>
        </div>
    </div>

    <!--2nd ROW-->

    <div class="row">
        <div class="col-1-of-3">
            <div class="card">
                <div class="card_picture card_picture--4">
                    &nbsp;
                </div>
                <h4 class="card_heading">
                    <span class="card_heading-span card_heading-span--1">
                        <a href="https://github.com/nllerandi/aam_bulk_uploader" target="_blank">Adobe AAM Bulk Trait Uploader ></a>
                    </span>
                </h4>
                <div class="card_details">
                    <p class="card_details-text">
                        A React app that uses react-csv-reader and async/await to bulk post traits to the Adobe Audience Manager API. This tool was built to help Media organizations create a large amount of AAM traits at once.
                    </p>
                    <a href="https://github.com/nllerandi/aam_bulk_uploader" target="_blank" class="btn-text">Github &rarr;</a>
                </div>
            </div>
        </div>
        <div class="col-1-of-3">
            <div class="card">
                <div class="card_picture card_picture--5">
                    &nbsp;
                </div>
                <h4 class="card_heading">
                    <span class="card_heading-span card_heading-span--2">
                        nllerandi.com
                    </span>
                </h4>
                <div class="card_details">
                    <p class="card_details-text">
                        I built this website on Ghost JS, a CMS built on Node. I read that Ghost was much faster and lighter than WordPress so I figured I'd give it a shot. This project was mostly an exercise in Sass and being meticulous about CSS organization. Check it out on Gitlab.
                    </p>
                    <a href="https://gitlab.com/nllerandi/ghost-theme---nllerandi_consulting" target="_blank" class="btn-text">Gitlab &rarr;</a>
                </div>
            </div>
        </div>
        <div class="col-1-of-3">
            <div class="card">
                <div class="card_picture card_picture--6">
                </div>
                <h4 class="card_heading">
                    <span class="card_heading-span card_heading-span--3">
                        <a href="http://192.81.213.103:3000/" target="_blank">FSM.com ></a>
                    </span>
                </h4>
                <div class="card_details">
                    <p class="card_details-text">
                        A "Stack Overflow" for musicians. A work-in-progress, personal project of mine built on the kitchen sink: bcryptjs for password encryption, express for the API, mongoose, JWT authentication, React, Redux, everything.
                    </p>
                    <a href="https://gitlab.com/nllerandi/nac" target="_blank" class="btn-text btn-text-github">Gitlab &rarr;</a>
                </div>
            </div>
        </div>
    </div>
</section>