<section class="section-about">
        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">
                Hi, I’m Nick. Nice to meet you.
            </h2>
        </div>

        <div class="row">
            <div class="col-1-of-2">
                <h3 class="heading-tertiary u-margin-bottom-small">
                    Web, Software, Data Engineering
                </h3>
                <p class="paragraph">
                    Since beginning my journey in the digital space nearly 10 years ago, I've worked for creative and marketing agencies in technical, managerial and leadership capacities. I've collaborated with talented people to create digital products, campaigns and processes seeing that the right data comes out the other side. I'm opinionated but a great team player, analytical but not introverted, naturally curious and always learning.
                </p>
                <h3 class="heading-tertiary u-margin-bottom-small">
                    Analytics & Reporting
                </h3>
                <p class="paragraph">
                    Working in Media has taught me the value of quality data and more importantly, the quality of the setup of the systems capturing that data. I've setup systems for one of the largest digital media spenders in the world, ensuring that those in a strategic or analytical role can fully make sense of every report they pull up.
                </p>

                <!--<a href="#" class="btn-text">Let's Talk &rarr;</a>-->
            </div>
            <div class="col-1-of-2">
                <div class="composition">
                    <img src="./assets/img/datascience.jpg" alt="Data Science" class="composition_photo composition_photo--p1">
                    <img src="./assets/img/devopstools.jpg" alt="DevOps" class="composition_photo composition_photo--p2">
                    <img src="./assets/img/mern.jpg" alt="MERN" class="composition_photo composition_photo--p3">
                </div>
            </div>
        </div>
</section>