<section class="section-posts">
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">
            Do some reading...
        </h2>
    </div>
    <div class="row">
        <!-- This is the post loop - each post will be output using this markup -->
        {{#foreach posts}}
            <div class="col-1-of-3">
                {{> post_card}}
            </div>
        {{/foreach}}
    </div>
</section>


