<article class="post-card">
    {{#if feature_image}}
        <img class="post-card_image" src="{{feature_image}}" alt="{{title}}">
    {{/if}}
    <div class="post-card_content">
        <div class="post-card_content_heading u-margin-bottom-small">
            <a class="post-card_content_heading_title" href="{{url}}">{{title}}</a>
        </div>
        <div class="post-card_content_excerpt">
            <p>
               {{#if meta_description}}
                   {{meta_description}}
               {{else}}
                   {{excerpt words="40"}}...
               {{/if}}
            </p>
            <div class="post-card_content_excerpt_info">
                <p>
                    {{author}} in {{tags}} on
                    <time>{{date}}</time>
                </p>
            </div>
        </div>
    </div>
</article>