<footer class="footer">
    <div class="row">
        <div class="col-1-of-1">
            <p class="footer_copyright">
                Built by Nick Llerandi on GhostJS - nicholasllerandi AT gmail DOT com
            </p>
        </div>
    </div>
</footer>