{{!< default}}

<!--if Homepage-->
{{^is "post, paged"}}
    {{> header}}
    <main>
        {{> index-about}}
        {{> index-features}}
        {{> index-services}}
        {{> index-testimonials}}
    </main>
{{/is}}

<!-- if "Paged"-page-->
{{#is "post, paged"}}
    place paged header here
{{/is}}
