<!-- Everything inside the #post tags pulls data from the static page -->
{{#post}}

    <article class="{{post_class}}">
        <header class="page-header">
            <h1 class="page-title">{{title}}</h1>
            <section class="page-meta">
                <time class="page-date" datetime="{{date format='YYYY-MM-DD'}}">
                    {{date format="DD MMMM YYYY"}}
                </time>
                {{tags prefix=" on "}}
            </section>
        </header>
        <section class="page-content">
            {{content}}
        </section>
    </article>

{{/post}}