{{!< default}}

place tag header here

<main class="container">
    <div class="columns is-multiline">
        <!-- This is the post loop - each post will be output using this markup -->
        {{#foreach posts}}
            <div class="column is-one-third is-centered">
                {{> post_card}}
            </div>
        {{/foreach}}
    </div>
</main>

<!-- Previous/next page links - displayed on every page -->
<div class="container">
    {{pagination}}
</div>