.card {
  position: relative;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
  overflow: hidden;
  background-color: $color-white;

  &_picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: url(../img/weatherapp.png);
    }

    &--2 {
      background-image: url(../img/viq.png);
    }

    &--3 {
      background-image: url(../img/youtubesearchapp.png);
    }

    &--4 {
      background-image: url(../img/aambulkuploader.png);
    }

    &--5 {
      background-image: url(../img/nllerandidotcom.png);
    }

    &--6 {
      background-image: url(../img/fsm.png);
    }
  }

  &_heading {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 70%;
  }

  &_heading-span {
    padding: 9px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-color: rgba($color-black, .8)
  }

  &_heading-span a {
    color: $color-white;
    text-decoration: none;
  }

  &_details {
    padding: 2rem;
    text-align: center;

    &-text {
      font-size: 1.5rem;
      text-align: center;
    }
  }

  &-github {
    padding: 2rem;
    text-align: center;
    height: 100%;
    bottom: 2rem;
  }
}