.composition {
  position: relative;

  &_photo {
    width: 60%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 1rem;

    @include respond(tab-port) {
      float: left;
      position: relative;
      width: 33.3333%;
      box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
    }

    &--p1 {
      left: 0;
      top: -2rem;

      @include respond(tab-port) {
        top: 0;
        transform: scale(1.2);
      }
    }

    &--p2 {
      right: -1rem;
      top: 2rem;

      @include respond(tab-port) {
        top: 1rem;
        right: -14.5rem;
        transform: scale(1.1);
      }

      @include respond(phone) {
        top: 1rem;
        right: -12.5rem;
        transform: scale(1.1);
      }
    }

    &--p3 {
      left: 20%;
      top: 10rem;

      @include respond(tab-port) {
        top: 0rem;
        left: -13rem;
        transform: scale(1.3);
        z-index: 100;
      }
    }

    &:hover {
      transform: scale(1.05) translateY(-.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
      z-index: 20;
      outline: .5rem solid $color-purple;
    }
  }

  &:hover &_photo:not(:hover) {
    transform: scale(.95);
  }
}