.feature-box {
  background-color: rgba($color-white, .8);
  font-size: $default-font-size;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
  transition: transform .2s;
  height: 100%;

  &-icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, $color-black, $color-purple);
    -webkit-background-clip: text;
    color: transparent;

    @include respond(tab-port) {
      display: block;
    }
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }

  &-text {
    @include respond(phone) {
      margin-bottom: 1rem !important;
    }
  }

  &-tools {
    padding: 1rem;
    color: $color-purple;

    @include respond(phone) {
      font-size: 1.8rem;
    }
  }

  & ul {
    list-style: none;

    @include respond(phone) {
      font-size: 1.8rem;
    }
  }
}