.post-card {
  position: relative;
  margin: 0 auto;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
  overflow: hidden;
  background-color: $color-white;


  &_image {
    width: 100%;
    background-blend-mode: screen;
  }

  &_content {
    padding: 1rem;

    &_heading {
      font-size: 1.5rem;
      font-weight: 700;

      &_title {
        text-decoration: none;
      }
    }

    &_excerpt {
      font-size: $default-font-size;

      &_info {
        padding-top: 5px;
      }
    }
  }

}