.testimonial {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  background-color: rgba($color-white, .6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  @include respond(tab-port) {
    width: 100%;
    padding: 3rem;
    padding-left: 5rem;
  }

  @include respond(phone) {
    width: 100%;
    padding: 3rem;
    padding-left: 5rem;
    transform: skewX(0deg);
  }


  &_shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;

    @include respond(phone) {
      transform: translateX(-3rem) skewX(0deg);;
    }
  }

  &_img {
    height: 100%;
    //transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .2s;
  }

  &_text {
    transform: skewX(12deg);

    @include respond(phone) {
      transform: skewX(0deg);
    }
  }

  &_caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
  }

  &:hover &_caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  &:hover &_img {
    transform: scale(.9);
    filter: blur(3px) brightness(80%);
  }
}