*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // This defines 1rem
  font-size: 62.5%;

  @include respond(tab-land) { // < 1200px
    font-size: 56.25%;
  }

  @include respond(tab-port) { // < 900px
    font-size: 50%;
  }

  @include respond(big-dsktp) { // > 1800px
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}