body {
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: $color-gray;
}

.heading-primary {
  color: $color-white;
  //text-transform: lowercase;
  backface-visibility: hidden;
  margin: 60px;

  @include respond(phone) {
    width: 100%;
    margin: 0;
  }

  & .heading-primary-main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 19px;
    animation: moveInLeft 1s ease-out;

    @include respond(phone) {
      letter-spacing: .9rem;
      font-size: 5rem;
    }

  }

  & .heading-primary-sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 17.4px;
    animation: moveInRight 1s ease-out;
  }
}

.heading {
  &-secondary {
    font-size: 2rem;
    //text-transform: lowercase;
    font-weight: 700;
    display: inline-block;
    color: $color-black;

    @include respond(tab-port) {
      font-size: 3rem;
    }

    @include respond(phone) {
      font-size: 2.5rem;
    }
  }

  &-secondary-white {
    font-size: 2rem;
    //text-transform: lowercase;
    font-weight: 700;
    display: inline-block;
    color: $color-white;
  }

}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  //text-transform: lowercase;
}

.paragraph {
  font-size: $default-font-size;

  @include respond(phone) {
    font-size: 1.8rem;
  }

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}