.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 3rem;
}

.u-margin-bottom-big {
  margin-bottom: 5rem;
}

.u-margin-top-big {
  margin-bottom: 5rem;
}
