@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 26.5625em) { // 425px
      @content
    };
  }

  @if $breakpoint == tab-port {
    @media (max-width: 48em) { // 768px
      @content
    };
  }

  @if $breakpoint == tab-land {
    @media (max-width: 64em) { // 1024px
      @content
    };
  }

  @if $breakpoint == big-dsktp {
    @media (min-width: 112.5em) { // 1800px
      @content
    };
  }
}