//Colors
$color-black: #293347;
$color-orange: #a45d27;
$color-yellow: #fdc029;
$color-red: #aa3d01;
$color-purple: #A400FF;

$color-beige1: #a79877;
$color-beige2: #b4a997;
$color-white: #fff;

$color-gray: #777;
$color-grey-light-1: #f7f7f7;

//Font
$default-font-size: 1.4rem;

//Grid
$grid-width: 95rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 3rem;