/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 64em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 48em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 48em) {
    body {
      padding: 0; } }

body {
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  backface-visibility: hidden;
  margin: 60px; }
  @media (max-width: 26.5625em) {
    .heading-primary {
      width: 100%;
      margin: 0; } }
  .heading-primary .heading-primary-main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 19px;
    animation: moveInLeft 1s ease-out; }
    @media (max-width: 26.5625em) {
      .heading-primary .heading-primary-main {
        letter-spacing: .9rem;
        font-size: 5rem; } }
  .heading-primary .heading-primary-sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 17.4px;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 2rem;
  font-weight: 700;
  display: inline-block;
  color: #293347; }
  @media (max-width: 48em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 26.5625em) {
    .heading-secondary {
      font-size: 2.5rem; } }

.heading-secondary-white {
  font-size: 2rem;
  font-weight: 700;
  display: inline-block;
  color: #fff; }

.heading-tertiary {
  font-size: 1.4rem;
  font-weight: 700; }

.paragraph {
  font-size: 1.4rem; }
  @media (max-width: 26.5625em) {
    .paragraph {
      font-size: 1.8rem; } }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 3rem; }

.u-margin-bottom-big {
  margin-bottom: 5rem; }

.u-margin-top-big {
  margin-bottom: 5rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .2;
  overflow: hidden; }
  .bg-video_content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
  font-size: 1.4rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn-white {
  background-color: #fff;
  color: #777; }
  .btn-white::after {
    background-color: #fff; }

.btn-orange {
  background-color: #A400FF;
  color: #fff; }
  .btn-orange::after {
    background-color: #A400FF; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .2s; }

.btn-animated {
  animation: moveInBottom 0.5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 2rem;
  color: #A400FF;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #A400FF;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #A400FF;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(41, 51, 71, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(41, 51, 71, 0.15);
  transform: translateY(0px); }

.card {
  position: relative;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(41, 51, 71, 0.15);
  overflow: hidden;
  background-color: #fff; }
  .card_picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card_picture--1 {
      background-image: url(../img/weatherapp.png); }
    .card_picture--2 {
      background-image: url(../img/viq.png); }
    .card_picture--3 {
      background-image: url(../img/youtubesearchapp.png); }
    .card_picture--4 {
      background-image: url(../img/aambulkuploader.png); }
    .card_picture--5 {
      background-image: url(../img/nllerandidotcom.png); }
    .card_picture--6 {
      background-image: url(../img/fsm.png); }
  .card_heading {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 70%; }
  .card_heading-span {
    padding: 9px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-color: rgba(41, 51, 71, 0.8); }
  .card_heading-span a {
    color: #fff;
    text-decoration: none; }
  .card_details {
    padding: 2rem;
    text-align: center; }
    .card_details-text {
      font-size: 1.5rem;
      text-align: center; }
  .card-github {
    padding: 2rem;
    text-align: center;
    height: 100%;
    bottom: 2rem; }

.composition {
  position: relative; }
  .composition_photo {
    width: 60%;
    box-shadow: 0 1.5rem 4rem rgba(41, 51, 71, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 1rem; }
    @media (max-width: 48em) {
      .composition_photo {
        float: left;
        position: relative;
        width: 33.3333%;
        box-shadow: 0 1.5rem 3rem rgba(41, 51, 71, 0.2); } }
    .composition_photo--p1 {
      left: 0;
      top: -2rem; }
      @media (max-width: 48em) {
        .composition_photo--p1 {
          top: 0;
          transform: scale(1.2); } }
    .composition_photo--p2 {
      right: -1rem;
      top: 2rem; }
      @media (max-width: 48em) {
        .composition_photo--p2 {
          top: 1rem;
          right: -14.5rem;
          transform: scale(1.1); } }
      @media (max-width: 26.5625em) {
        .composition_photo--p2 {
          top: 1rem;
          right: -12.5rem;
          transform: scale(1.1); } }
    .composition_photo--p3 {
      left: 20%;
      top: 10rem; }
      @media (max-width: 48em) {
        .composition_photo--p3 {
          top: 0rem;
          left: -13rem;
          transform: scale(1.3);
          z-index: 100; } }
    .composition_photo:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(41, 51, 71, 0.5);
      z-index: 20;
      outline: 0.5rem solid #A400FF; }
  .composition:hover .composition_photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.4rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(41, 51, 71, 0.15);
  transition: transform .2s;
  height: 100%; }
  .feature-box-icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #293347, #A400FF);
    -webkit-background-clip: text;
    color: transparent; }
    @media (max-width: 48em) {
      .feature-box-icon {
        display: block; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  @media (max-width: 26.5625em) {
    .feature-box-text {
      margin-bottom: 1rem !important; } }
  .feature-box-tools {
    padding: 1rem;
    color: #A400FF; }
    @media (max-width: 26.5625em) {
      .feature-box-tools {
        font-size: 1.8rem; } }
  .feature-box ul {
    list-style: none; }
    @media (max-width: 26.5625em) {
      .feature-box ul {
        font-size: 1.8rem; } }

.testimonial {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(41, 51, 71, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.4rem;
  transform: skewX(-12deg); }
  @media (max-width: 48em) {
    .testimonial {
      width: 100%;
      padding: 3rem;
      padding-left: 5rem; } }
  @media (max-width: 26.5625em) {
    .testimonial {
      width: 100%;
      padding: 3rem;
      padding-left: 5rem;
      transform: skewX(0deg); } }
  .testimonial_shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
    @media (max-width: 26.5625em) {
      .testimonial_shape {
        transform: translateX(-3rem) skewX(0deg); } }
  .testimonial_img {
    height: 100%;
    backface-visibility: hidden;
    transition: all .2s; }
  .testimonial_text {
    transform: skewX(12deg); }
    @media (max-width: 26.5625em) {
      .testimonial_text {
        transform: skewX(0deg); } }
  .testimonial_caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .testimonial:hover .testimonial_caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .testimonial:hover .testimonial_img {
    transform: scale(0.9);
    filter: blur(3px) brightness(80%); }

.post-card {
  position: relative;
  margin: 0 auto;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(41, 51, 71, 0.15);
  overflow: hidden;
  background-color: #fff; }
  .post-card_image {
    width: 100%;
    background-blend-mode: screen; }
  .post-card_content {
    padding: 1rem; }
    .post-card_content_heading {
      font-size: 1.5rem;
      font-weight: 700; }
      .post-card_content_heading_title {
        text-decoration: none; }
    .post-card_content_excerpt {
      font-size: 1.4rem; }
      .post-card_content_excerpt_info {
        padding-top: 5px; }

.footer {
  background-image: linear-gradient(to right bottom, #293347, #a400ff);
  color: #fff;
  padding: 5rem 0;
  font-size: 1.4rem; }
  .footer_logo-box {
    text-align: center;
    margin-bottom: 2rem; }
  .footer_logo {
    height: 35px; }
  .footer_list {
    list-style: none; }
  .footer_item {
    display: inline-block; }
    .footer_item:not(:last-child) {
      margin-bottom: 1.5rem; }
  .footer_link:link, .footer_link:visited {
    color: #fff;
    text-decoration: none;
    display: inline-block; }
  .footer_helping {
    border-bottom: 1px solid #fff;
    padding-bottom: 1.5rem; }
  .footer_copyright {
    border-top: 1px solid #fff;
    padding-top: 1.5rem; }
  .footer_recent_posts {
    border-bottom: 1px solid #fff;
    padding-bottom: 1.5rem; }

.row {
  max-width: 95rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 48em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 48em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3rem; }
      @media (max-width: 48em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 48em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-1 {
    width: 100%; }
  .row .col-1-of-2 {
    width: calc((100% - 3rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 3rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 3rem) / 4); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 3rem) / 3) + 3rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 3rem) / 4) + 3rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 3rem) / 4) + 2 * 3rem); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #293347, #a400ff);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); }
  @media (max-width: 26.5625em) {
    .header {
      height: 100vh;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); } }
  @media (max-width: 48em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); } }
  .header .logo-box {
    position: absolute;
    top: 40px;
    left: 40px; }
  .header .logo {
    height: 35px; }
  .header .text-box {
    position: absolute;
    width: 65%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    @media (max-width: 26.5625em) {
      .header .text-box {
        width: 100%; } }
    @media (max-width: 48em) {
      .header .text-box {
        width: 70%; } }

.section-about {
  background-color: #fff;
  padding: 20rem 0;
  margin-top: -25vh; }
  @media (max-width: 48em) {
    .section-about {
      padding: 22rem 0;
      margin-top: -18vh; } }
  @media (max-width: 26.5625em) {
    .section-about {
      margin-top: -13vh;
      padding: 14rem 0 22rem 0; } }

.section-features {
  padding: 18rem 0;
  background-image: linear-gradient(to right bottom, #293347, #a400ff);
  background-size: cover;
  margin-top: -10rem;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }
  @media (max-width: 48em) {
    .section-features {
      padding: 14rem; } }
  @media (max-width: 26.5625em) {
    .section-features {
      padding: 13rem 0; } }

.section-services {
  background-color: #fff;
  padding: 25rem 0 12rem 0;
  margin-top: -10rem; }
  @media (max-width: 48em) {
    .section-services {
      padding: 18rem 0 10rem 0 !important; } }

.section-testimonials {
  padding: 12rem 0;
  position: relative; }

.section-posts {
  background-color: #fff;
  padding: 10rem 0; }
