.footer {
  background-image: linear-gradient(
                  to right bottom,
                  rgba($color-black, 1.0),
                  rgba($color-purple, 1.0));
  color: $color-white;
  padding: 5rem 0;
  font-size: $default-font-size;

  &_logo-box {
    text-align: center;
    margin-bottom: 2rem;
  }

  &_logo {
    height: 35px;
  }

  &_navigation {

  }

  &_list {
    list-style: none;
  }

  &_item {
    display: inline-block;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &_link {
    &:link,
    &:visited {
      color: $color-white;
      text-decoration: none;
      display: inline-block;
    }
  }

  &_helping {
    border-bottom: 1px solid $color-white;
    padding-bottom: 1.5rem;
  }

  &_copyright {
    border-top: 1px solid $color-white;
    padding-top: 1.5rem;
  }

  &_recent_posts {
    border-bottom: 1px solid $color-white;
    padding-bottom: 1.5rem;
  }

}