.header {
  height: 95vh;
  background-image: linear-gradient(
                  to right bottom,
                  rgba($color-black, 1.0),
                  rgba($color-purple, 1.0));
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

  @include respond(phone) {
    height: 100vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }

  @include respond(tab-port) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }

  & .logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
  }

  & .logo {
    height: 35px;
  }

  & .text-box {
    position: absolute;
    width: 65%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    @include respond(phone) {
      width: 100%;
    }

    @include respond(tab-port) {
      width: 70%;
    }
  }
}