.section-about {
  background-color: $color-white;
  padding: 20rem 0;
  margin-top: -25vh;

  //@include respond(phone) {
  //  padding: 22rem 0 !important;
  //}

  @include respond(tab-port) {
    padding: 22rem 0;
    margin-top: -18vh;
  }

  @include respond(phone) {
    margin-top: -13vh;
    padding: 14rem 0 22rem 0;
  }
}

.section-features {
  padding: 18rem 0;
  background-image: linear-gradient(
                  to right bottom,
                  rgba($color-black, 1.0),
                  rgba($color-purple, 1.0));
  background-size: cover;
  margin-top: -10rem;

  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }

  @include respond(tab-port) {
    padding: 14rem;
  }

  @include respond(phone) {
    padding: 13rem 0;
  }
}

.section-services {
  background-color: $color-white;
  padding: 25rem 0 12rem 0;
  margin-top: -10rem;

  //@include respond(phone) {
  //  padding: 18rem 0 10rem 0 !important;
  //}

  @include respond(tab-port) {
    padding: 18rem 0 10rem 0 !important;
  }
}

.section-testimonials {
  padding: 12rem 0;
  position: relative;
}

.section-posts {
  background-color: $color-white;
  padding: 10rem 0;
}